# Ignore all "__pycache__" folders
**/__pycache__/

Data/
data/
Images/
Results/
Checkpoints/
**/.ipynb_checkpoints/
**/__marimo__/
**/TEST**

# ignore any file with TEST in the name
**/*TEST*
**/*test*